@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 26, 26;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FFF5F0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
