# Server
PORT=3001
FRONTEND_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://unirwa:unirwa_password@localhost:5432/unirwa

# Redis
REDIS_URL=redis://localhost:6379

# Avalanche Fuji RPC
FUJI_RPC=https://api.avax-test.network/ext/bc/C/rpc

# Deployed Contract Addresses (Fuji Testnet)
MOCK_USDC_ADDRESS=0xC39defBc22e792Cd381571A031cF92aBCA0E1687
MOCK_BUIDL_ADDRESS=0xEf2884E786195CF757dEe96a6D6c7735aEA53B23
MOCK_BENJI_ADDRESS=0xFC4e6f255e6B2aEFEb9199f3CD85E832DA6137Ba
MOCK_OUSG_ADDRESS=0x146617c34A7De9edd9bbBA33053FDfD75eDBe511
MOCK_ORACLE_ADDRESS=0x4456D84Cc64D90073a306EA793683E427129B25c
