# Deployment wallet
DEPLOYER_PRIVATE_KEY=your_private_key_here
YOUR_WALLET=your_wallets_public_key_for_running_cast_tests
KEEPER_WALLET_ADDRESS=

# RPC endpoints
FUJI_RPC=https://api.avax-test.network/ext/bc/C/rpc
AVALANCHE_RPC=https://api.avax.network/ext/bc/C/rpc

# Snowtrace API key
SNOWTRACE_API_KEY=your_api_key_here

# Contract addresses (paste the deployed addresses here)
MOCK_USDC_ADDRESS=
MOCK_BUIDL_ADDRESS=
MOCK_BENJI_ADDRESS=
MOCK_OUSG_ADDRESS=
MOCK_ORACLE_ADDRESS=
COMPLIANCE_NFT_ADDRESS=
MOCK_ISSUER_ADDRESS=
POOL_FACTORY_ADDRESS=
MOCK_ISSUER_ADDRESS=
BUIDL_POOL_ADDRESS=
BENJI_POOL_ADDRESS=
OUSG_POOL_ADDRESS=
HYBRID_AMM_ADDRESS=
ROUTER_ADDRESS=
ORDERBOOK_ADDRESS=